#myCanvas {
    border-width: 1px;
    border-style: dotted;
    border-color: Gray;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: x-large;
    color: #999999;
}

body {
    background-color: #FFF;
    padding: 40px;
}

p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 11px;
}

a {
    color: #3E99CA;
    text-decoration: none;
}

a:hover {
    background-color: #E2F0F8;
    border-radius: 2px;
}